/* BookingDetailsPage.css */
    .booking-form {
    flex: 1;
    margin-right: 20px; /* Add spacing between the two cards */
  }
  
  .house-details-card {
    flex: 1;
  }

.booking-details-page {
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
  }
  
  .form-check-input {
    margin-top: 6px;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  

  .form-control {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    transition: border-color 0.2s;
  }
  
  .form-control:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.5); /* Adjust the color of the date picker icon */
    opacity: 1; /* Make the icon fully visible */
  }
  
  /* Additional styles for number input */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }