/* BookingSuccessModal.css */

.success-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .modal-content h5 {
    margin-bottom: 10px;
  }
  
  .modal-content button {
    margin-top: 20px;
  }
  