/* Home.css */

.home-container {
  min-height: 100vh;
    padding: 20px;
  }
  
  /* Add margin to the buttons */
  .home-buttons {
    display: flex;
    padding-right: 10px; /* Gap between the buttons */
    margin-bottom: 20px; /* Space between buttons and the content below */
  }
  
  .booking-card {
    margin-bottom: 10px;
  }
  
  .house-card {
    margin-bottom: 10px;
  }
  
  /* Add this to your existing CSS or a separate file */
.profile-dropdown {
  /* Your existing styles */
  position: relative;
}

.profile-icon,
.notification-icon {
  font-size: 24px;
  cursor: pointer;
  margin-right: 15px;
}

.notification-icon {
  margin-right: 0; /* Adjust spacing if needed */
}
